/* welcome panel */

.panel {
    height: 100vh;
}


.welcome {
    text-align: center;
    background: linear-gradient(90deg, transparent 0%, var(--light-color-tr) 33%, var(--light-color-tr) 66%, transparent 100% );
    width: 100%;
    margin-top: 3em;
    padding: 5em 0px 5em 0px;
}

.welcome h2 {
    font-size: xx-large;
    margin: 0;
}

.welcome h3 {
    margin-top: 0;

}